.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
    

    @media only screen and (max-width: $bp-large) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-content: flex-end;
    }

    &__checkbox {
        display: none;
    }

    &__label {
        position: fixed;
        padding: 2.5rem 1rem;
        cursor: pointer;
        z-index: 110;
    
        @media only screen and (max-width: $bp-large) {
            padding: 2rem 1rem;
        }
    }

    &__navigation-background {
        background-color: $color-primary;
        position: fixed;
        top: 0;
        left: 8rem;
        height: 100vh;
        width: 0;
        transition: all 2s;
        visibility: hidden;
        z-index: 100;

        @media only screen and (max-width: $bp-large) {
            background-color: transparent;
            background-image: radial-gradient($color-primary, $color-primary);
            top: 0;
            left: 93.3%;
            right: 0;
            height: 6rem;
            width: 6rem;
        }
    }

    &__nav {
        list-style: none;
        position: fixed;
        z-index: 110;
        transform: translate(-110%, -50%);
        transition: all 2s;
        visibility: hidden;
        opacity: 0;
        top: 50%;
        left: 8rem;

        @media only screen and (max-width: $bp-large) {
            transform: translate(-100%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }

    // FUNCTIONALITY
    
    &__label:hover .nav-btn{
        &::before {
            top: -1.6rem;
        }
        &::after {
            top: 1.6rem;
        }

    }

    &__checkbox:checked ~ &__navigation-background {
        width: 20%;
        visibility: visible;

        @media only screen and (max-width: $bp-large) {
            width: 6rem;
            transform: scale(80);

        }
    }

    &__checkbox:checked ~ &__nav {
        transform: translate(-20%, -50%);
        visibility: visible;
        opacity: 1;

        @media only screen and (max-width: $bp-large) {
            transform: translate(-50%, -50%);
        }
    }

    &__checkbox:checked ~ &__label .nav-btn {
        background-color: transparent;

        &::before {
            top: 0;
            transform: rotate(135deg);
        }

        &::after {
            top: 0;
            transform: rotate(-135deg);
        }
    }

}

.nav-btn {
    border: none;
    border-radius: 0;
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
        background-color: #fff;
        height: 2px;
        width: 4.5rem;
        position: absolute;
        content: "";
        display: block;
        transition: all .1s;
    }

    
    &::before {
        top: -1.3rem;
        left: 0;
    }

    &::after {
        top: 1.3rem;
        left: 0;
    }

}





